<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supersong.graduation.dao.SiteDao">
    <resultMap id="siteMapping" type="com.supersong.graduation.bean.Site">
        <result column="parent_id" property="parentId" javaType="String"/>
        <result column="create_time" property="createTime" javaType="Date"/>
    </resultMap>

    <insert id="add" parameterType="com.supersong.graduation.bean.Site">
        insert into t_site(id,name,parent_id,create_time,remark) values (#{id},#{name},#{parentId},#{createTime},#{remark})
    </insert>
    
    <delete id="delete" parameterType="String">
        delete from t_site where id = #{id}
    </delete>
    
    <update id="update" parameterType="com.supersong.graduation.bean.Site">
        update t_site set id = #{id}
        <if test="name != null and name != ''">
            ,name = #{name}
        </if>
        <if test="parentId != null and parentId != ''">
            ,parent_id = #{parentId}
        </if>
        <if test="remark != null and remark != ''">
            ,remark = #{remark}
        </if>
        where id = #{id}
    </update>

    <select id="getAll" resultMap="siteMapping">
        select * from t_site
    </select>
</mapper>