<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supersong.graduation.dao.SystemSettingDao">
    <resultMap id="SystemSettingMapping" type="com.supersong.graduation.bean.SystemSetting">
        <result column="create_time" property="createTime" javaType="Date"/>
    </resultMap>
    <insert id="add" parameterType="com.supersong.graduation.bean.SystemSetting">
        insert into t_sys_setting (logo,title,keyword,slogan,remark,open,login,register,create_time) values
                                    (#{logo},#{title},#{keyword},#{slogan},#{remark},#{open},#{login},#{register},#{createTime})
    </insert>

    <select id="get" resultMap="SystemSettingMapping">
        select * from t_sys_setting order by id desc
    </select>
</mapper>